<div class="row">
  <h1>Products</h1>
  <hr>
  <div class="col-sm-3 sidebar">
    <div>
      <h3>Most Reviewed Product</h3>
      <% if @products.most_reviewed.any? %>
        <ul>
          <% @products.most_reviewed.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      </div>
      <hr>
      <div>
        <h3>Recently Added Products</h3>
        <% if @products.threecent.any? %>
          <ul>
            <% @products.threecent.each do |product| %>
              <li><%= link_to product.name, product_path(product) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>There are no products yet.</p>
        <% end %>
      </div>
    <% else %>
      <p>There are no products with reivews yet.</p>
    <% end %>
    <hr>
    <div>
      <h3>Made in USA</h3>
      <% if @products.country("United States of America").any? %>
        <ul>
          <% @products.country("United States of America").each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
    <hr>
    <div class="add-parent">
      <%= link_to new_product_path do %>
        <div class="add-child">Create New Product</div>
      <%end%>
    </div>
  </div>
  <div class="col main-content">
    <% if @products.any? %>
      <div class="row">
        <% @products.each do |product| %>
          <%= render :partial => "layouts/product_card", :locals => {:product => product} %>
        <% end %>
      </div>
    <% else %>
      <p>There are no products yet.</p>
    <% end %>
  </div>
</div>
