<h1>Review for <%= link_to @product.name, @product %></h1>

<p>Author: <%= @review.author%></p>
<p>Rating: <%= @review.rating%></p>
<p>Review: <%= @review.content_body%></p>
<% if is_admin? %>
<hr>
<h3>Review Admin Panel</h3>

<p><%= link_to "Edit Review", edit_product_review_path(@product) %></p>
<p><%= link_to "Delete Review", product_review_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to products", products_path %></p>
<%end%>