<h1><%= @product.name %></h1>

<p>Author: <%= @review.author%></p>
<p>Rating: <%= @review.rating%></p>
<p>Review: <%= @review.content_body%></p>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to products", products_path %></p>